= form_for wiki do |f|
  .form-group
    = f.label :title
    = f.text_field :title, class: "form-control", placeholder: "Enter title here ..."
    - if current_user.can_privatize_wiki?(wiki)
      .form-group
        = f.label :private do
          Private Wiki
          = f.check_box :private, class: "checkbox"
    .form-group
      = f.label "Wiki"
      = f.text_area :body, rows: 20, class: "form-control", placeholder: "Enter wiki info here ..."
    .form-group
      = f.submit "Save", class: "btn btn-success"

