<!DOCTYPE html>
<html>
<head>
  <title>Blocipedia</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://use.edgefonts.net/alegreya;bebas-neue;league-gothic;source-sans-pro:n2.js" %>
  <%= csrf_meta_tags %>
</head>
<body class="homepage">
  <%= yield :top_bar %>
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li><%= link_to "Blocipedia", root_path %></li>
    <% if user_signed_in? %>
      <li><%= link_to "Wikis", wikis_path %></li>
    <% end %>
    </ul>
    <div class="navbar-right user-info">
      <% if user_signed_in? %>
        Hello, <%= link_to (current_user.email || current_user.email) %>!
        <%= link_to destroy_user_session_path, method: :delete do %>
          <span class="glyphicon glyphicon-log-out"></span>
        <% end %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path %>
        <%= link_to "Register", new_user_registration_path %>
      <% end %>
    </div>
  </nav>
  <div class="flash">
    <%if flash[:notice] %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:error] %>
      <div class="alert alert-danger">
        <button type="button" class="close" data-dimiss="alert">&times;</button>
        <%= flash[:error] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
    <% end %>
  </div>
<div class="container">
    <%= yield %>
</div>
</body>
</html>
